* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;

  background-color: rgba(0, 0, 0);
  background-image: url("https://i.ibb.co/DHjKfND2/macos-monterey-stock-green-light-layers-5k-8k-7680x7680-5891.jpg");
  background-size: cover;
  background-position: center;
}

.dock {
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);

  height: 60px;

  border-radius: 15px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 22%;
  transition: width, height, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
  transform-origin: bottom;
  &:hover {
    width: 90px;
    height: 90px;
    top: -15px;
    + img {
      width: 80px;
      height: 80px;
          top: -8px;
      
      + img {
      width: 70px;
      height: 70px;
          top: -5px;
    }
    }
  }
  
  &:has(+ img:hover) {
    width: 80px;
    height: 80px;
        top: -8px;
  }
  &:has(+ img  +img:hover) {
    width: 70px;
    height: 70px;
        top: -5px;
  }
}